# Ignore BEAST, Snakemake, and R output
analysis/jobs
analysis/logs
analysis/.snakemake
**/*.log
**/*.state
**/*.trees
**/*.tree
**/*.out
**/*.RData
**/.Rhistory

# Overleaf things
*.tex
*.bst
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.bib